.patientlist{
    border: 2px red solid;
    display: flex;
    justify-content: space-between;
    border: 2px solid rgba(66, 63, 63, 0.327); 
    background-color: rgba(45, 41, 41, 0.625);
    border-radius: 16px;
    /* box-shadow: 10px black; */
    margin: 5px;
    padding: 10px 40px;
    cursor: pointer;
    


}

.icon-red{
    color: red;
  font-size: 2rem;
}

.consulted {
  background: #003973;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E5E5BE, #003973);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E5E5BE, #003973); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    border-left: 10px solid #ffffff;
    color: grey;
    
  }
  .consulted h4,
.consulted h5 {
  text-decoration: line-through;
  color: gray;
}
