.card{
    cursor: pointer;
    /* background-color:rgba(0, 0, 255, 0.136) !important; */
}

.card:hover{
    transform: scale(1.03);
    transition: all 0.3s;
    border-radius: 10px;
    border: 2px solid blue;
}